body {
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
}

img {
    border: solid white 2px;
    border-radius: 10px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    border-radius: 10px;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: black;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.card.flip {
    transform: translate(-50%, -50%) rotateY(180deg);
}

@media (orientation: landscape) {
    img {
        height: 400px;
        width: 200px;
    }

    .card {
        height: 400px;
        width: 200px;
    }
}

@media (orientation: portrait) {
    img {
        height: 1000px;
        width: 500px;
    }

    .card {
        height: 1000px;
        width: 500px;
    }
}